<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<h1>ACTIVADOR GOM</h1>
<h2 id="status"></h2>
<form id='gom_form' method="post">
    {% csrf_token %}
    <input style="width: 200px; height: 50px;" type="submit" id="button" value="ACTIVAR GOM">
</form>
<form id='contact_admin_form' method="post" action="/gom/report-admin/" style="display: none">
    {% csrf_token %}
    <input style="width: 200px; height: 50px;" type="submit" value="AVISAR AL ADMINISTRADOR">
</form>

<script>
// Submit post on submit
$('#gom_form').on('submit', function(event){
    document.getElementById("button").style.display = 'none';
    document.getElementById("status").innerHTML = "Activando GOM...";
    event.preventDefault();
    $.ajax({
        url : "/gom/", // the endpoint
        type : "POST", // http method
        data : { "csrfmiddlewaretoken": "{{csrf_token}}" }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            if(json['success'] == true){
                document.getElementById("status").innerHTML = "PUERTA DESBLOQUEADA";
            }
            else if(json['success'] == false){
                document.getElementById("status").innerHTML =
                "HUBO UN ERROR INTENTANDO DESBLOQUEAR LA PUERTA. CONTACTE AL ADMINISTRADOR";
                document.getElementById("contact_admin_form").style.display = 'block';
            }
        },
        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            document.getElementById("status").innerHTML = "ERROR INTENTANDO CONECTAR AL ROUTER. CONTACTE AL ADMINISTRADOR";
        }
    });
});
</script>

</body>
</html>