<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Registrarse</title>
</head>
<body>
<h1>Registrarse</h1>
{% if registered %}
Registro correcto!<br><br>
<a href="/login/">Loguearse</a><br>
{% else %}
<form id="user_form" method="post" action="/register/" enctype="multipart/form-data">
    {% csrf_token %}

    <h2>Datos de cuenta</h2>

    {{ user_form.non_field_errors }}
    <p>{{ user_form.username.errors }}
    <code>(Este es el nombre de usuario que utilizaras para acceder a este sitio. Sensible a las mayusculas.)</code><br>
    <label>Nombre de usuario en Euskal.org:</label>
    {{ user_form.username }}</p>

    <p>{{ user_form.password.errors }}
    <label>Contraseña:</label>
    {{ user_form.password }}</p>

    <p>{{ user_form.email.errors }}
    <label>Email:</label>
    {{ user_form.email }}</p>

    <h2>Datos reales</h2>

    <p>{{ user_form.first_name.errors }}
    <label>Nombre:</label>
    {{ user_form.first_name }}</p>

    <p>{{ user_form.last_name.errors }}
    <label>Primer apellido:</label>
    {{ user_form.last_name }}</p>

    <input type="submit" name="submit" value="Registrarse">
{% endif %}
</form>
<br>
<a href="/">Volver al inicio</a>


</body>
</html>